@use '/src/styles/reset';
@use '/src/styles/vars';

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    padding: 2em;
    background-color: vars.$primary-color;
}

.app {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: vars.$global-font;
    color: vars.$dark-color;

    h1, h2, h3, h4 {
        font-family: vars.$title-font;
    }

    &-title {
        font-size: vars.$font-size * 4;
        margin-bottom: vars.$gutter;
        text-align: center;
    }

    &-description {
        font-size: vars.$font-size * 1.5;
        text-align: center;
        line-height: 1.2;

        a {
            color: vars.$alt-color;
        }
    }
}

